.choresText {
   color: purple;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: large;
   font-style: italic;
   text-align: left;
}

.choresHeading {
   color: black;
   text-decoration: underline;
   text-align: left;
}